* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #444;
  font-family: Helvetica, sans-serif;
  padding-bottom: 10px;
}

p {
  font-size: 13px;
  line-height: 19px;
  margin: 0;
}

a, i, img {
  text-decoration: none;
  -webkit-transition: all ease 0.4s;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

img {
  display: block;
}

pre {
  margin: 1em 0 0;
}

p {
  margin: 0 0 1em;
}

h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

#head {
  margin: 0 -10px 10px;
}

h1 {
  float: left;
  margin: 2px 0 10px;
  padding: 3px 10px;
  font: 32px Exo, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #574D4F;
  background: #fff7dc;
  text-shadow: 0 2px 0px #fff;
}

h1 em {
  font-style: normal;
  color: #969091;
}

.social {
  float: right;
  font-size: 36px;
  margin: 7px 0 0 0;
}

.social a {
  margin-left: 4px;
  color: #ddd;
  text-shadow: 0 -1px 0 #aaa;
}

.social a:hover {
  text-decoration: none;
  color: #bbb;
  text-shadow: 0 -1px 0 #444;
}

h2 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
}

#content {
  padding: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.tile {
  margin: 0 0 20px;
  padding: 0px;
  border-radius: 3px;
}

.block {
  position: relative;
  display: block;
  margin: 10px 0 20px;
  padding: 10px;
  background: #F0F2EB;
  border-bottom: 3px solid #ddd;
  border-radius: 3px;
  -webkit-transition: background ease 0.4s, border ease 0.4s;
}

.tile:last-child {
  margin-bottom: 0;
}

.block:hover {
  background: #e4e4e4;
  border-color: #aaa;
}

.block p {
  font-size: 12px;
  line-height: 18px;
  margin: 8px 0;
  color: #888;
}

.block .icon-github {
  font-size: 24px;
  position: absolute;
  top: 6px;
  right: 3px;
  color: #fff;
  text-shadow: -1px -2px 0px #ddd;
}

.block:hover .icon-github-sign {
  text-shadow: -1px -2px 0px #aaa; 
}

.block .icon-external-link {
  font-size: 0.6em;
  vertical-align: top;
  margin-left: 2px;
}

.block img {
  width: 100%;
}

.graphic {
  display: block;
  overflow: hidden;
  width: 50%;
  float: left;
}

.graphic img {
  width: 100%;
}

.pics .wrapper {
  position: relative;
  float: left;
  width: 33.34%;
  height: 140px;
  overflow: hidden;
}

.pics img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.me {
  border: 4px solid #fff;
}

.me img {
  top: -92px;
}

.cosmo img {
  top: -16px;
}

.caroline img {
  top: -60px;
}

.clear {
  clear: both;
}

@media screen and (max-device-width: 480px) {

  #head {
    margin: 0 0 20px;
    text-align: center;
  }

  h1 {
    margin: -10px -10px 0;
    float: none;
  }

  .social {
    float: none;
    margin-top: 20px;
  }

  .pics .wrapper {
    height: 80px;
  }

  .me img {
    top: -40px;
  }

  .cosmo img {
    top: -10px;
  }

  .caroline img {
    top: -40px
  }

}


